.route--method {
  font-size: 10px;
  border-radius: 4px;
  padding: 2px 4px;
  text-transform: uppercase;
  min-width: 40px;
  display: inline-block;
  line-height: 1em;
  text-align: center;

  border: 1px solid;
  background-color: #61affe;
  border-color: #61affe;
  color: #fff;

  &.route--method-put {
    background-color: #fca130;
    border-color: #fca130;
  }

  &.route--method-post {
    background-color: #49cc90;
    border-color: #49cc90;
  }

  &.route--method-delete {
    background-color: #f93e3e;
    border-color: #f93e3e;
  }
}
